@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
	font-family: "Roboto", Georgia, "Times New Roman", Times, serif;
}

.input-block,
.factorial-input {
	width: 125px;
	height: 20px;
	padding-left: 5px;
	margin-bottom: 5px;
	font-size: 14px;
	font-family: "Roboto", Georgia, "Times New Roman", Times, serif;
	font-weight: 500;
	margin-top: 10px;
	border: 2px solid black;
	border-radius: 5px;
}

.select-postfix {
	width: 50px;
	height: 26px;
	font-size: 14px;
	font-family: "Roboto", Georgia, "Times New Roman", Times, serif;
	font-weight: 500;
	border-radius: 5px;
}

.result-block,
.factorial-output {
	width: 182px;
	height: 25px;
	border: 2px rgb(69, 211, 247) solid;
	border-radius: 5px;
	vertical-align: middle;
	display: table-cell;
	padding-left: 5px;
	font-size: 14px;
	font-family: "Roboto", Georgia, "Times New Roman", Times, serif;
	font-weight: 500;
	margin-bottom: 20px;
}

.get-factorial {
	margin-top: 10px;
	width: 50px;
	height: 25px;
	border-radius: 5px;
	border: 1px black solid;
	position: absolute;
	left: 160px;
	background-color: rgb(228, 228, 228);
	font-size: 14px;
	font-family: "Roboto", Georgia, "Times New Roman", Times, serif;
	font-weight: 500;
}

.get-factorial:focus {
	opacity: 0.5;
}

span {
	font-weight: 500;
}

.input-array,
.output-array {
	width: 190px;
	height: 150px;
	border: 2px rgb(69, 211, 247) solid;
	border-radius: 5px;
	margin-bottom: 5px;
	overflow-wrap: break-word;
	font-size: 12px;
	padding: 10px;
}

.input-array {
	margin-top: 10px;
}

.bubble-sort-button {
	margin-top: 10px;
	width: 195px;
	height: 25px;
	border-radius: 5px;
	border: 1px black solid;
	background-color: rgb(228, 228, 228);
	font-size: 14px;
	font-family: "Roboto", Georgia, "Times New Roman", Times, serif;
	font-weight: 500;
}

.bubble-sort-button:focus {
	opacity: 0.5;
}

.first,
.second,
.third,
.forth {
	width: 220px;
	border: dotted 2px black;
	padding: 10px;
	border-radius: 5px;
}

.desk-size {
	width: 125px;
	height: 20px;
	padding-left: 5px;
	margin-bottom: 5px;
	font-size: 14px;
	font-family: "Roboto", Georgia, "Times New Roman", Times, serif;
	font-weight: 500;
	margin-top: 10px;
	border: 2px solid black;
	border-radius: 5px;
}

.get-desk {
	margin-top: 10px;
	width: 50px;
	height: 25px;
	border-radius: 5px;
	border: 1px black solid;
	position: absolute;
	left: 160px;
	background-color: rgb(228, 228, 228);
	font-size: 14px;
	font-family: "Roboto", Georgia, "Times New Roman", Times, serif;
	font-weight: 500;
}

.desk-output {
	width: 190px;
	height: 300px;
	border: 2px rgb(69, 211, 247) solid;
	border-radius: 5px;
	margin-bottom: 5px;
	overflow-wrap: break-word;
	font-size: 12px;
	padding: 10px;
}

.get-desk:focus {
	opacity: 0.5;
}
