@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
	background: linear-gradient(-60deg, #fc466b, #5670f5);
	font-family: Lato, Georgia, "Times New Roman", Times, serif;
}

.wrapper {
	border: 3px dashed black;
	border-radius: 10px;
	color: white;
	font-size: 24px;
	font-weight: 800;
	padding: 25px;
	width: 50%;
	min-height: 1000px;
	margin: 100px auto;
}

.result {
	text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.75);
}

.output-block {
	border: 1px white dashed;
	border-radius: 5px;
	margin: 15px;
	padding: 10px;
	line-height: 24px;
	word-wrap: break-word;
}

.valid {
	color: rgb(38, 187, 38);
}

.unvalid {
	color: red;
}
